.card {
    margin-top: 20px;
}
.input {
    margin-top: 20px;
}
.media {
    height: 10;
    margin-top: 56.25%;
}
.dialog {
    width: 50vh;
}
.typography {
    margin-top: 10px;
}
.textField {
    margin-top: 10px;
}